.author{
  text-align: left;
}

.description{
font-family: 'PT Serif', serif;
}

.card-problem h1{
  margin: 0 auto;
}

.title {
  font-family: 'Fjalla One', sans-serif;
}
.author{
font-family: 'Josefin Sans', sans-serif;
}

._56q9 {
    font-size: 11px;
  }

@media only screen and (max-width: 767px) {
   .fb-comments {
    width: 100% !important;
   }
.fb-comments iframe[style] {
   width: 100% !important;
  }
.fb-like-box {
   width: 100% !important;
  }
.fb-like-box iframe[style] {
   width: 100% !important;
  }
.fb-comments span {
   width: 100% !important;
  }
.fb-comments iframe span[style] {
   width: 100% !important;
  }
.fb-like-box span {
   width: 100% !important;
  }
.fb-like-box iframe span[style] {
   width: 100% !important;
  }
}
