<h1 class="text-center">PROBLEMS</h1>
<h1 class="text-center">PROBLEMS EVERYWHERE</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= react_component "ProblemList",
          render(template: 'problems/index.json.jbuilder'),
          prerender: false %>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <%= link_to "Back", :back, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    </div>
  </div>
</div>
