<div class="container">
  <div class="row">
    <div class="col s12 l12">
      <h1 class="center-align">What's your problem?</h1>
        <p>
          Tell us a problem and maybe we can solve it for you.
        </p>
      <%= render 'form' %>
    </div>
  </div>
</div>


<%= image_tag("problems.jpg", :class => "img_problems") %>
<div class="container">
  <%= react_component "ProblemList",
      render(template: 'problems/index.json.jbuilder'),
      prerender: false %>
</div>

