<%= image_tag("problems.jpg", :class => "img_problems") %>
<div class="box">
  <div class="mdl-grid">
    <div class="mdl-cell--12-col">
      <%= react_component "ProblemList",
          render(template: 'problems/index.json.jbuilder'),
          prerender: false %>
    </div>
  </div>

</div>

