<div class="container">
<%= image_tag("problems.jpg", :class => "img_problems") %>
  <div class="row">
    <div class="col s12 l12">
      <h1 class="center-align title">What's your problem?</h1>
        <p>
          We are a group of Web developers looking for problems to solve.
        </p>
        <p>
           If there's any problem that you think that Tech can solve, please tell us and maybe we can solve it for you.
        </p>
        <a class="btn-floating btn-large waves-effect waves-light red cente" id="form-btn"s><i class="material-icons">add</i></a>
        <div class="hide" id="hidden-form">
          <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<%= react_component "ProblemList",
    render(template: 'problems/index.json.jbuilder'),
    prerender: false %>

<% content_for(:after_js) do %>
<script>
$("#form-btn").on("click", function() {
  $('#hidden-form').toggleClass("hide");
});
</script>
<% end %>
