/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

a {
  style: none;
}
.form-wrapper {
  width: 80% !important;
}
.show-wrapper {
  margin: 30px auto;
  .container {
  background-color: #FFF !important;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-bottom: 10px;
  .row > .col {
    padding-left: 30px;
  }
  };
}
.text-center {
  margin: 0 auto;
}
