
.card-wide.mdl-card {
   width: 100%;
   padding-bottom: 50px;
 }
 .card-wide > .mdl-card__title {
   color: #fff;
   height: 176px;
   /*background: url("hitler.jpg") center / cover;*/
 }
 .card-wide > .mdl-card__menu {
   color: #fff;
 }
