
.card-wide.mdl-card {
   width: 100%;
   padding-bottom: 50px;
 }
.mdl-card__title {
   color: #fff;
   display: flex;
   justify-content: space-between;
   /*background: url("hitler.jpg") center / cover;*/
 }
 .card-wide > .mdl-card__menu {
   color: #fff;
 }
